
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-black);
  height: 100%;
  position: relative;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --off-black: #191D26;
  --light-gray: #d3d3d3;
  --gray: #8E93A4;
  --light-blue: #1147A7;
  --blue: #113A94;
  --dark-blue: #032B83;
  --link-blue: #61dafb;
  --destructive: #D04349;
}

button, .btn{
  outline: none;
  border: none;
  font-family: 'Exo 2', monospace;
  padding: 10px 25px;
  border-radius: 25px;
  letter-spacing: 1px;
  background-color: var(--light-blue);
  transition: all .5s;
}

.login-btn{
  background-image: linear-gradient(-180deg, var(--link-blue), var(--dark-blue));
}

.btn:hover{
  background-image: none;
  background-color: var(--light-blue);
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.loading-btn{
  background: linear-gradient(-45deg, var(--light-blue), #23a6d5, var(--dark-blue));
  background-size: 400% 400%;
  animation: gradientBG 2s ease infinite;

}

.success-btn{
  transition: 1s;
  background-color: var(--gray)

  /* background-color: #4BB543; */

}


.fail-btn{
  transition: 1s;
  background-color: #D04349;
}

                     
                     
.btn.fail-btn.disabled{
  background-color: #D04349;
  opacity: 1;

}




